.CVpagecontainer {
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

.CurriculumVitae {
    width: 55%; /* Adjust the width as needed */
    height: 85vh; /* Adjust the height as needed */
    border: lightgray solid 1px;
    margin-top: 15px;
}

  /* Responsive styles for smaller screens */
    @media (max-width: 768px) {
    .CurriculumVitae {
      width: 90%; /* Adjust for smaller screens */
      height: 90vh; /* Adjust the height as needed */
    }
}