.CVpagecontainer {
    display: flex;
    min-height: 100vh;
    padding: 5px;
    justify-content: center;
    margin-top: 30px;
}

.CurriculumVitae {
    width: 45%; /* Adjust the width as needed */
    height: 90vh; /* Adjust the height as needed */
    border: none;
    margin-top: 30px;
}

  /* Responsive styles for smaller screens */
    @media (max-width: 768px) {
    .CurriculumVitae {
      width: 90%; /* Adjust for smaller screens */
      height: 90vh; /* Adjust the height as needed */
    }
}